@use '@carbon/styles/scss/spacing';
@use '@carbon/colors/index';
@use '@carbon/styles/scss/type/index';

.page {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 2rem 4rem;
  width: 100%;
}
